<nb-card>
    <nb-card-body>
        <button *ngFor="let cate of categories; index as i;" class="btn space" status="basic" nbButton (click)="selectCategory( cate )">
            <div class="bagde">{{ i + 1 }}</div>
            {{ cate.name }}
        </button>
        <nb-card>
            <nb-card-body>
                <button *ngFor="let prod of subProducts; index as i" class="btn space" status="basic" nbButton (click)="selectProduct( prod )">
                    <div class="bagde">{{ i + 1 }}</div>
                    {{ prod.name }}
                </button>
            </nb-card-body>
        </nb-card>
    </nb-card-body>
    <nb-card-footer>
        <label for="">Products</label>
        <div class="container">
            <div class="left">
                <div class="input-text">
                    <span class="tag is-warning space" *ngFor="let prod of selected">
                        {{ prod.name }}
                        <button class="delete is-small">
                            <nb-icon class="close" icon="close-outline"></nb-icon>
                        </button>
                    </span>
                </div>
            </div>
            <div class="right">
                <button nbButton status="basic"> Find </button>
            </div>
        </div>
    </nb-card-footer>
</nb-card>